.summary {
    width: 36%;
    height: auto;
    margin-left: 3.5%;
}

.summary__Text {
    color: white;
    overflow: hidden;
    letter-spacing: 0.1vw;
    line-height: 1.5vw;
    font-size: 1.05vw;
    font-weight: 200;
    padding: 1vw 0; 
    text-align: justify;
}

.summary__Title {
    color: white;
    font-size: 2.2vw;
}


.button-container {
    display: flex;
    column-gap: 1em;
}

.icon {
    height: 1.6vw;
    width: auto;
}