.summary {
    width: 36%;
    height: auto;
    margin-left: 4%;
}

.summary-text {
    color: white;
    overflow: hidden;
    letter-spacing: 0.1vw;
    line-height: 1.4vw;
    font-size: 1.05vw;
    font-weight: 200;
}

.button-container {
    display: flex;
    column-gap: 1em;
}

.icon {
    height: 1.6vw;
    width: auto;
}