.card {
  min-width: 9vw;
  border-radius: 0.3vw;
  overflow: hidden;
  transition-duration: 0.3s;
}

.card:hover {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transform: scale(1.3);
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
