.indicator {
    width: 100%;
    background-color: #4D4D4D;
    height: 0.1vw;
    
}

.indicator.active {
    background-color: #AAAAAA;
}


.slide__Indicator {
    position: absolute;
    display: flex;
    column-gap: 0.2vw;
    top: 2vw;
    right: 3vw;
    width: 8vw;
}